Repository rapidsai/cuxfilter, changes with the labels that .github/labeler.yml gives for each.
All labels: Python, ci, conda, doc

remove stale cudatashader build commands (#423)
  build.sh
Labels: none

update architecture flowchart
  docs/_images/RAPIDS_cuxfilter.png
Labels: doc

update docs architecture image
  docs/source/10_minutes_to_cuxfilter.ipynb
Labels: doc

update api docstring to include show and app methods
  python/cuxfilter/dashboard.py
Labels: Python

Docs/update (#439)
  docs/_images/RAPIDS_cuxfilter.png
  docs/source/10_minutes_to_cuxfilter.ipynb
  python/cuxfilter/dashboard.py
Labels: Python, doc

Move date to build string in `conda` recipe
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

rm `PKG_HASH` from build string
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

update workflow branches [skip ci]
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

update workflow branches [skip ci] (#442)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

Move date to build string in `conda` recipe (#441)
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

Remove gpuCI scripts.
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/README.md
  ci/local/build.sh
Labels: ci

Update README.
  README.md
Labels: none

update workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

Update shared workflow branches (#446)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: none

use trap method to handle errors
  ci/test_notebooks.sh
  ci/test_python.sh
Labels: ci

update changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cuxfilter/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cuxfilter/labels

Python:
 - 'python/**'
 - 'notebooks/**'

ci:
   - 'ci/**'

conda:
   - 'conda/**'
 
doc:
   - 'docs/**'
