Repository rapidsai/cuxfilter, pull requests merged in 2020-12, with the labels that each got.

#217 Close open ended dependencies
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/dashboard.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#215 Gpuciscripts clean and update
  CHANGELOG.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/cuxfilter/build_cuxfilter.sh
  ci/cpu/upload.sh
  ci/cpu/upload_anaconda.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/README.md
Labels: 3 - Ready for Review, improvement, non-breaking

#219 Branch 0.18 merge 0.17 - fix auto merge conflicts
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/dashboard.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#221 Fix forward-merger conflicts for #218
  CHANGELOG.md
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/cuxfilter/build_cuxfilter.sh
  ci/cpu/upload.sh
  ci/cpu/upload_anaconda.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/local/README.md
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking
