Repository rapidsai/cuxfilter, pull requests merged in 2021-08, with the labels that each got.

#314 [RELEASE] cuxfilter v21.08
  CHANGELOG.md
  README.md
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  docs/source/conf.py
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/core_widget.py
  python/cuxfilter/charts/datashader/custom_extensions/graph_inspect_widget.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/layouts/custom_react_template.py
  python/cuxfilter/themes/assets/rapids.css
  python/cuxfilter/themes/rapids.py
Labels: Python, conda, doc, gpuCI

#318 Branch 21.10 merge 21.08
  CHANGELOG.md
Labels: doc, non-breaking, Python

#317 Fix/unique names
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_line.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_chart.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate_line.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/test_dashboard.py
Labels: bug, non-breaking, Python
