Repository rapidsai/cuxfilter, pull requests merged in 2021-02, with the labels that each got.

#228 New charts - Number & Card
  CHANGELOG.md
  docs/source/charts/panel_widgets.rst
  python/cuxfilter/assets/numba_kernels/gpu_datatile.py
  python/cuxfilter/charts/__init__.py
  python/cuxfilter/charts/core/aggregate/__init__.py
  python/cuxfilter/charts/core/aggregate/core_datasize_indicator.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/panel_widgets/__init__.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/datatile.py
  python/cuxfilter/tests/assets/test_gpu_datatile.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/test_dashboard.py
  python/cuxfilter/tests/test_datatile.py
Labels: improvement, non-breaking

#231 fix state preserving issue for lasso-select callbacks
  CHANGELOG.md
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/dashboard.py
Labels: improvement, non-breaking

#229 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#234 Fix merge conflicts in #233 [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#223 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#238 Add static html
  python/cuxfilter/layouts/assets/react.html
Labels: Python, bug, non-breaking

#244 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking

#239 Pin Node version
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#247 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#252 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
