Repository rapidsai/cuxfilter, pull requests merged in 2021-04, with the labels that each got.

#262 Fea/sidebar api change
  README.md
  docs/source/examples/Mortgage_example.ipynb
  docs/source/examples/NYC_taxi_example.ipynb
  docs/source/examples/auto_accidents_example.ipynb
  notebooks/Mortgage_example.ipynb
  notebooks/NYC_taxi_example.ipynb
  notebooks/auto_accidents_example.ipynb
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/core_widget.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_line.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
  python/cuxfilter/layouts/assets/react.css
  python/cuxfilter/layouts/layouts.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate_line.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/charts/core/test_core_widget.py
  python/cuxfilter/tests/layouts/test_layouts.py
  python/cuxfilter/tests/test_dashboard.py
  python/cuxfilter/tests/test_dataframe.py
  python/cuxfilter/themes/assets/dark.css
  python/cuxfilter/themes/assets/rapids.css
Labels: Python, doc, non-breaking

#268 FIX Use gpuci_conda_retry in ci/gpu/build.sh
  ci/gpu/build.sh
Labels: 3 - Ready for Review, gpuCI, improvement, non-breaking

#265 [RELEASE] cuxfilter v0.19
  CHANGELOG.md
  README.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  docs/source/conf.py
  docs/source/examples/Mortgage_example.ipynb
  docs/source/examples/NYC_taxi_example.ipynb
  docs/source/examples/auto_accidents_example.ipynb
  notebooks/Mortgage_example.ipynb
  notebooks/NYC_taxi_example.ipynb
  notebooks/auto_accidents_example.ipynb
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/core_widget.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_line.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/custom_extensions/interactive_image.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
  python/cuxfilter/layouts/assets/react.css
  python/cuxfilter/layouts/layouts.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate_line.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/charts/core/test_core_widget.py
  python/cuxfilter/tests/layouts/test_layouts.py
  python/cuxfilter/tests/test_dashboard.py
  python/cuxfilter/tests/test_dataframe.py
  python/cuxfilter/themes/assets/dark.css
  python/cuxfilter/themes/assets/rapids.css
Labels: Python, conda, doc

#271 Update pyproj version in meta.yaml
  conda/recipes/cuxfilter/meta.yaml
Labels: 3 - Ready for Review, conda, improvement, non-breaking

#273 Fix forward merge conflicts [skip ci]
  CHANGELOG.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#269 [gpuCI] Forward-merge branch-0.19 to branch-0.20 [skip ci]
  CHANGELOG.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

#275 Allow CuPy 9 to be used with cuxfilter
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, feature request, non-breaking

#276 ENH Remove defaults channel from conda build
  docs/source/installation.rst
Labels: 3 - Ready for Review, doc, non-breaking

#277 [FEA] add map_style for no-token cases
  python/cuxfilter/charts/deckgl/plots.py
  python/cuxfilter/themes/dark.py
  python/cuxfilter/themes/light.py
  python/cuxfilter/themes/rapids.py
Labels: Python, feature request, non-breaking
