Repository rapidsai/cuxfilter, pull requests merged in 2021-05, with the labels that each got.

#278 Remove spaces from filename
  docs/source/10_minutes_to_cuxfilter.ipynb
  docs/source/index.rst
Labels: doc, non-breaking

#281 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: gpuCI, improvement, non-breaking

#282 ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
Labels: gpuCI, improvement, non-breaking

#283 replace overflow-y:scroll -> auto
  python/cuxfilter/layouts/assets/react.css
Labels: Python, improvement, non-breaking

#284 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#285 Pass compiler environment variables to conda python build
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#286 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: gpuCI, improvement, non-breaking

#287 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#289 Update environment variable used to determine `cuda_version`
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#290 Fix merge conflicts [skip ci]
  CHANGELOG.md
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#288 [gpuCI] Forward-merge branch-21.06 to branch-21.08 [skip ci]
  CHANGELOG.md
  conda/recipes/cuxfilter/meta.yaml
Labels: conda
