Repository rapidsai/cuxfilter, pull requests merged in 2021-07, with the labels that each got.

#303 Fix/update bokeh version
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/charts/datashader/custom_extensions/graph_inspect_widget.py
  python/cuxfilter/layouts/custom_react_template.py
Labels: Python, conda, gpuCI, improvement, non-breaking

#304 Fix/follow up to #303
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/core_widget.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/layouts/custom_react_template.py
  python/cuxfilter/themes/assets/rapids.css
  python/cuxfilter/themes/rapids.py
Labels: Python, bug, non-breaking

#307 remove pyppeteer dependency and add instructions to the Readme
  README.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/assets/screengrab.py
Labels: ! - Hotfix, Python, breaking, conda, improvement

#309 Forward merge `21.06` into `21.08`
  README.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/assets/screengrab.py
Labels: Python, conda

#311 Update `pyppeteer` import
  python/cuxfilter/assets/screengrab.py
Labels: Python

#312 Forward merge 21.06 into 21.08
  python/cuxfilter/assets/screengrab.py
Labels: Python

#308 [RELEASE] 21.06.01 Hotfix Release
  README.md
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/assets/screengrab.py
Labels: Python, conda

#305 ENH Replace gpuci_conda_retry with gpuci_mamba_retry
  ci/gpu/build.sh
Labels: gpuCI, improvement, non-breaking
