Repository rapidsai/cuxfilter, pull requests merged in 2021-11, with the labels that each got.

#329 update docstrings examples to fix #328
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
Labels: doc, non-breaking

#330 [gpuCI] Forward-merge branch-21.12 to branch-22.02 [skip gpuci]
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
Labels: Python

#333 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking
