Repository rapidsai/cuxfilter, pull requests merged in 2021-06, with the labels that each got.

#267 support space in workspace
  ci/cpu/build.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/utils/nbtest.sh
Labels: 2 - In Progress, gpuCI, improvement, inactive-30d, non-breaking

#292 Update `geopandas` version spec
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#295 Fix update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: gpuCI, improvement, non-breaking

#294 [RELEASE] cuxfilter v21.06
  CHANGELOG.md
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/docs/build.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/local/build.sh
  ci/release/update-version.sh
  ci/utils/nbtest.sh
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
  docs/source/10_minutes_to_cuxfilter.ipynb
  docs/source/conf.py
  docs/source/index.rst
  docs/source/installation.rst
  python/cuxfilter/charts/deckgl/plots.py
  python/cuxfilter/layouts/assets/react.css
  python/cuxfilter/themes/dark.py
  python/cuxfilter/themes/light.py
  python/cuxfilter/themes/rapids.py
Labels: Python, conda, doc, gpuCI

#298 Fix `21.06` CHANGELOG.md entries
  CHANGELOG.md
Labels: improvement, non-breaking

#302 update pyproj version
  conda/environments/cuxfilter_dev_cuda10.1.yml
  conda/environments/cuxfilter_dev_cuda10.2.yml
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: bug, non-breaking
