Repository rapidsai/cuxfilter, pull requests merged in 2022-12, with the labels that each got.

#421 Update `panel` version
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: improvement, non-breaking

#419 Fix broken symlink
  docs/source/10_minutes_to_cuxfilter.ipynb
  notebooks/10_minutes_to_cuxfilter.ipynb
Labels: improvement, non-breaking, Python

#420 Update style checks to use pre-commit.
  .pre-commit-config.yaml
  ci/checks/style.sh
  pyproject.toml
  python/.flake8
  python/setup.cfg
Labels: gpuCI, improvement, non-breaking, Python

#417 [RELEASE] cuxfilter v22.12
  .github/workflows/stale.yaml
  CHANGELOG.md
  README.md
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
  docs/source/conf.py
  notebooks/10_minutes_to_cuxfilter.ipynb
Labels: conda, doc, Python

#418 Add GitHub Actions Workflows
  .github/labeler.yml
  .github/workflows/build.yaml
  .github/workflows/dependency-files.yml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_python.sh
  ci/check_style.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  conda/recipes/cuxfilter/conda_build_config.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/.coveragerc
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate_line.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
Labels: gpuCI, conda, improvement, non-breaking, Python

#424 Enable `Recently Updated` Check
  .github/ops-bot.yaml
Labels: improvement, non-breaking
