Repository rapidsai/cuxfilter, pull requests merged in 2022-09, with the labels that each got.

#402 fix test failing on non-matching indices for newer dask version
  python/cuxfilter/tests/charts/datashader/test_graph_assets.py
Labels: bug, non-breaking, Python

#401 Allow cupy 11
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: feature request, conda, non-breaking

#400 Notebook update: removed spaces in directory name
  notebooks/cuxfilter_with_dask_cudf/Mortgage_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/NYC_taxi_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/Protein_Interaction_Graphs.ipynb
  notebooks/cuxfilter_with_dask_cudf/README.md
  notebooks/cuxfilter_with_dask_cudf/auto_accidents_example.ipynb
Labels: bug, non-breaking, Python

#403 Added Viz Catalog notebook with Readme
  notebooks/Additional Visualizations Catalogue/RAPIDS Viz Catalog.ipynb
  notebooks/Additional Visualizations Catalogue/README.md
Labels: Python
