Repository rapidsai/cuxfilter, pull requests merged in 2022-08, with the labels that each got.

#380 [gpuCI] Forward-merge branch-22.06 to branch-22.08 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#387 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  CHANGELOG.md
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

#388 Revert "Allow CuPy 11"
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#389 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda

#390 Update `geopandas` version specificer
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#392 Update `pyproj` version specifier
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#394 [REVIEW] Use common custom `js` & `css` code
  docs/source/conf.py
Labels: doc, non-breaking
