Repository rapidsai/cuxfilter, pull requests merged in 2022-10, with the labels that each got.

#406 [RELEASE] cuxfilter v22.10
  CHANGELOG.md
  README.md
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
  docs/source/conf.py
  notebooks/cuxfilter_with_dask_cudf/Mortgage_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/NYC_taxi_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/Protein_Interaction_Graphs.ipynb
  notebooks/cuxfilter_with_dask_cudf/README.md
  notebooks/cuxfilter_with_dask_cudf/auto_accidents_example.ipynb
  python/cuxfilter/tests/charts/datashader/test_graph_assets.py
Labels: conda, doc, Python

#398 [gpuCI] Forward-merge branch-22.08 to branch-22.10 [skip gpuci]
  CHANGELOG.md
Labels: inactive-30d

#410 Remove stale labeler [skip-ci]
  .github/workflows/stale.yaml
Labels: improvement, non-breaking
