Repository rapidsai/cuxfilter, pull requests merged in 2022-04, with the labels that each got.

#364 update datashader version pins
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: bug, conda, non-breaking

#363 [RELEASE] cuxfilter v22.04
  .github/ops-bot.yaml
  CHANGELOG.md
  README.md
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
  docs/source/conf.py
  docs/source/examples/NYC_taxi_example.ipynb
  notebooks/NYC_taxi_example.ipynb
  notebooks/auto_accidents_example.ipynb
  python/cuxfilter/assets/numba_kernels/gpu_datatile.py
  python/cuxfilter/assets/numba_kernels/gpu_histogram.py
  python/cuxfilter/charts/datashader/custom_extensions/graph_assets.py
  python/cuxfilter/charts/datashader/datashader.py
Labels: gpuCI, conda, doc, Python

#359 Fix/dask cudf support
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  python/cuxfilter/assets/cudf_utils.py
  python/cuxfilter/charts/core/__init__.py
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/custom_extensions/__init__.py
  python/cuxfilter/charts/datashader/custom_extensions/graph_assets.py
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/custom_extensions/interactive_image.py
  python/cuxfilter/charts/datashader/datashader.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/charts/__init__.py
  python/cuxfilter/tests/charts/core/__init__.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_chart.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate_line.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/charts/core/test_core_view_dataframe.py
  python/cuxfilter/tests/charts/datashader/__init__.py
  python/cuxfilter/tests/charts/datashader/test_graph_assets.py
  python/cuxfilter/tests/charts/deckgl/__init__.py
  python/cuxfilter/tests/charts/deckgl/test_deckgl.py
  python/cuxfilter/tests/charts/utils.py
  python/cuxfilter/tests/test_dashboard.py
Labels: bug, conda, non-breaking, Python
