Repository rapidsai/cuxfilter, pull requests merged in 2022-03, with the labels that each got.

#353 Fix/examples
  docs/source/examples/NYC_taxi_example.ipynb
  notebooks/NYC_taxi_example.ipynb
  notebooks/auto_accidents_example.ipynb
  python/cuxfilter/charts/datashader/datashader.py
Labels: doc, non-breaking, Python

#355 Update `bokeh` version
  ci/gpu/build.sh
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: gpuCI, conda, improvement, non-breaking

#357 Temporarily disable new `ops-bot` functionality [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#361 update panel version
  conda/environments/cuxfilter_dev_cuda11.0.yml
  conda/environments/cuxfilter_dev_cuda11.2.yml
  conda/environments/cuxfilter_dev_cuda11.4.yml
  conda/environments/cuxfilter_dev_cuda11.5.yml
  conda/recipes/cuxfilter/meta.yaml
Labels: bug, conda, non-breaking
