Repository rapidsai/cuxfilter, pull requests merged in 2023-10, with the labels that each got.

#542 Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#543 fix workflow
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
Labels: bug, non-breaking, ci

#546 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#547 updates to external tests
  EXTERNAL_TESTS.md
  ci/release/update-version.sh
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
Labels: bug, non-breaking, ci

#549 Update `shared-action-workflows` references
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: ci

#548 Update versioning strategy
  VERSION
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  conda/recipes/cuxfilter/meta.yaml
  python/cuxfilter/VERSION
  python/cuxfilter/__init__.py
  python/cuxfilter/_version.py
  python/pyproject.toml
  python/setup.py
Labels: conda, improvement, non-breaking, Python, ci
