Repository rapidsai/cuxfilter, pull requests merged in 2023-05, with the labels that each got.

#475 Update cupy to >=12
  conda/recipes/cuxfilter/meta.yaml
Labels: conda, improvement, non-breaking

#477 run docs nightly too
  .github/workflows/build.yaml
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#479 fix tests failing due to unsorted results
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/utils.py
Labels: bug, conda, non-breaking, Python

#480 Require Numba 0.57.0+ & NumPy 1.21.0+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#478 GHA - external dependency testing workflow: add a schedule to run once every week
  .github/workflows/test-external.yaml
  ci/release/update-version.sh
  ci/test_external.sh
Labels: feature request, non-breaking, ci
