Repository rapidsai/cuxfilter, pull requests merged in 2023-01, with the labels that each got.

#425 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#415 Update channel priority
  README.md
  docs/source/installation.rst
  notebooks/README.md
Labels: doc, non-breaking, Python

#426 Build CUDA 11.8 and Python 3.10 Packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  CONTRIBUTING.md
  README.md
  ci/test_notebooks.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/installation.rst
  notebooks/README.md
  python/setup.py
Labels: conda, improvement, non-breaking, Python, ci

#429 Fea/add save chart option to individual charts
  README.md
  docs/source/10_minutes_to_cuxfilter.ipynb
  python/cuxfilter/charts/bokeh/plots.py
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/dashboard.py
Labels: feature request, non-breaking, Python

#437 fix path for dir to uploaded
  ci/build_docs.sh
Labels: bug, non-breaking, ci

#428 Re-enable `graphs.ipynb` notebook in CI
  ci/test_notebooks.sh
Labels: improvement, non-breaking, ci

#423 remove stale cudatashader build commands
  build.sh
Labels: improvement, non-breaking

#439 Docs/update
  docs/_images/RAPIDS_cuxfilter.png
  docs/source/10_minutes_to_cuxfilter.ipynb
  python/cuxfilter/dashboard.py
Labels: doc, non-breaking, Python
