Repository rapidsai/cuxfilter, pull requests merged in 2023-07, with the labels that each got.

#496 Added visualization guide notebook
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Catalog.ipynb
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Guide Notebook.ipynb
  notebooks/RAPIDS Visualization Guide/README.md
  notebooks/RAPIDS Visualization Guide/images/RAPIDS-header-graphic.png
  notebooks/RAPIDS Visualization Guide/images/cuxfilter-bars.png
  notebooks/RAPIDS Visualization Guide/images/cuxfilter-graph.png
  notebooks/RAPIDS Visualization Guide/images/dashboard-sketch-ideas.jpg
  notebooks/RAPIDS Visualization Guide/images/plotly-dash-divvy.png
Labels: 5 - Ready to Merge, doc, non-breaking, Python

#498 Fix GHA: external dependencies tests
  ci/release/update-version.sh
  ci/test_external.sh
Labels: bug, non-breaking, ci

#497 Add wheel builds to cuxfilter
  .flake8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/utils/wheel_smoke_test.py
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/MANIFEST.in
  python/Makefile
  python/README.md
  python/cuxfilter/__init__.py
  python/cuxfilter/_version.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/datashader/datashader.py
  python/cuxfilter/charts/deckgl/plots.py
  python/cuxfilter/sampledata/download_datasets.py
  python/cuxfilter/tests/test_dashboard.py
  python/pyproject.toml
  python/record.txt
  python/setup.cfg
  python/setup.py
  python/versioneer.py
Labels: conda, improvement, non-breaking, Python, ci

#502 Fix broken symlink
  notebooks/10_minutes_to_cuxfilter.ipynb
Labels: bug, non-breaking, Python

#503 Revert CUDA 12.0 CI workflows to branch-23.08.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#504 Followup: Revert CUDA 12.0 CI workflows to branch-23.08
  .github/workflows/test-external.yaml
Labels: improvement, non-breaking

#506 Switch to new wheels pipeline
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#507 Fix nightly wheel testing workflow.
  .github/workflows/test.yaml
Labels: bug, non-breaking

#510 Branch 23.10 merge 23.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: conda, doc, non-breaking, Python, ci

#508 Forward-merge branch-23.08 to branch-23.10
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: ci

#514 Fix dependencies - pyproj
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: bug, conda, non-breaking, Python
