Repository rapidsai/cuxfilter, pull requests merged in 2023-04, with the labels that each got.

#463 Updates and fixes
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  notebooks/Mortgage_example.ipynb
  python/cuxfilter/assets/notebook_assets.py
  python/cuxfilter/charts/bokeh/plots.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/utils.py
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/layouts/assets/__init__.py
  python/cuxfilter/layouts/assets/react.css
  python/cuxfilter/layouts/assets/react.html
  python/cuxfilter/layouts/custom_react_template.py
  python/cuxfilter/layouts/layouts.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/themes/assets/rapids-dark.css
  python/cuxfilter/themes/assets/rapids-light.css
  python/cuxfilter/themes/dark.py
  python/cuxfilter/themes/light.py
Labels: bug, conda, non-breaking, Python

#467 Use ARC V2 self-hosted runners for GPU jobs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
Labels: improvement, non-breaking

#468 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#469 Dropping Python 3.8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
  python/setup.py
Labels: conda, improvement, breaking, Python

#472 Revert shared-action-workflows pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
