Repository rapidsai/cuxfilter, pull requests merged in 2023-06, with the labels that each got.

#481 Forward-merge branch-23.06 to branch-23.08
  .github/workflows/test-external.yaml
  ci/release/update-version.sh
  ci/test_external.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/utils.py
Labels: conda, Python, ci

#483 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking, ci

#487 fix incorrect xy-coordinate issue in graphs
  python/cuxfilter/charts/datashader/custom_extensions/graph_assets.py
  python/cuxfilter/charts/datashader/plots.py
Labels: bug, non-breaking, Python

#489 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#485 [RELEASE] cuxfilter v23.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  README.md
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_external.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/conf.py
  pyproject.toml
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/utils.py
  python/setup.py
Labels: conda, doc, Python, ci

#488 [Review] Remove Datatiles support
  python/cuxfilter/__init__.py
  python/cuxfilter/assets/numba_kernels/__init__.py
  python/cuxfilter/assets/numba_kernels/gpu_datatile.py
  python/cuxfilter/charts/bokeh/plots.py
  python/cuxfilter/charts/constants.py
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_scatter.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/dataframe.py
  python/cuxfilter/datatile.py
  python/cuxfilter/tests/assets/test_gpu_datatile.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_scatter.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/charts/core/test_core_view_dataframe.py
  python/cuxfilter/tests/test_dashboard.py
  python/cuxfilter/tests/test_datatile.py
  python/cuxfilter/themes/dark.py
  python/cuxfilter/themes/light.py
  python/cuxfilter/themes/rapids.py
Labels: improvement, non-breaking, Python

#493 Fix scheduled GHA workflow issue
  .github/workflows/test-external.yaml
Labels: bug, non-breaking, ci
