Repository rapidsai/cuxfilter, pull requests merged in 2023-08, with the labels that each got.

#494 Refactor to use holoviews powered bar charts
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/source/user_guide/10_minutes_to_cuxfilter.ipynb
  docs/source/user_guide/charts/bokeh_charts.rst
  docs/source/user_guide/charts/index.rst
  docs/source/user_guide/charts/widgets.rst
  docs/source/user_guide/examples/Mortgage_example.ipynb
  docs/source/user_guide/examples/NYC_taxi_example.ipynb
  docs/source/user_guide/examples/auto_accidents_example.ipynb
  docs/source/user_guide/examples/graphs.ipynb
  docs/source/user_guide/installation.rst
  docs/source/user_guide/layouts/Layouts.ipynb
  docs/source/user_guide/themes/Themes.ipynb
  notebooks/Mortgage_example.ipynb
  notebooks/NYC_taxi_example.ipynb
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Guide Notebook.ipynb
  notebooks/auto_accidents_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/Mortgage_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/NYC_taxi_example.ipynb
  notebooks/cuxfilter_with_dask_cudf/Protein_Interaction_Graphs.ipynb
  notebooks/cuxfilter_with_dask_cudf/auto_accidents_example.ipynb
  notebooks/graphs.ipynb
  python/cuxfilter/assets/__init__.py
  python/cuxfilter/assets/numba_kernels/gpu_histogram.py
  python/cuxfilter/assets/screengrab.py
  python/cuxfilter/charts/__init__.py
  python/cuxfilter/charts/bokeh/__init__.py
  python/cuxfilter/charts/bokeh/bokeh.py
  python/cuxfilter/charts/bokeh/plots.py
  python/cuxfilter/charts/bokeh/plots/__init__.py
  python/cuxfilter/charts/bokeh/plots/bar.py
  python/cuxfilter/charts/bokeh/plots/histogram.py
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/aggregate/core_aggregate_choropleth.py
  python/cuxfilter/charts/core/aggregate/core_number_chart.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/deckgl/plots.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/charts/core/test_core_aggregate.py
  python/cuxfilter/tests/charts/core/test_core_chart.py
  python/cuxfilter/tests/charts/core/test_core_number_chart.py
  python/cuxfilter/tests/charts/core/test_core_stacked_line.py
  python/cuxfilter/tests/charts/core/test_core_view_dataframe.py
  python/cuxfilter/tests/test_dashboard.py
  python/cuxfilter_test.ipynb
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#523 Don't append CUDA suffix to python pkg name
  python/pyproject.toml
Labels: bug, non-breaking, Python

#525 Forward-merge branch-23.08 to branch-23.10
  python/pyproject.toml
Labels: Python

#520 Improve external tests
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
Labels: improvement, non-breaking, ci

#526 Add license to cuxfilter wheel
  python/LICENSE
Labels: bug, non-breaking, Python

#529 Add str support to dropdown
  docs/_html/.doctrees/api_reference/dataframe.doctree
  docs/source/user_guide/charts/widgets.rst
  python/cuxfilter/charts/core/core_widget.py
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/panel_widgets/panel_widgets.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/tests/charts/core/test_core_widget.py
Labels: doc, non-breaking, Python

#531 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking
