Repository rapidsai/cuxfilter, pull requests merged in 2023-09, with the labels that each got.

#534 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking, ci

#535 Use `conda mambabuild` not `mamba mambabuild`
  ci/build_python.sh
Labels: bug, non-breaking, ci

#537 fix external workflow
  README.md
  ci/test_external.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/source/api_reference/dataframe.rst
  python/cuxfilter/dashboard.py
Labels: bug, conda, non-breaking, Python, ci

#540 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
Labels: improvement, non-breaking
