Repository rapidsai/cuxfilter, pull requests merged in 2023-12, with the labels that each got.

#556 Update actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#554 [RELEASE] cuxfilter v23.12
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  EXTERNAL_TESTS.md
  README.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/conf.py
  docs/source/user_guide/charts/widgets.rst
  docs/source/user_guide/installation.rst
  python/cuxfilter/VERSION
  python/cuxfilter/__init__.py
  python/cuxfilter/_version.py
  python/pyproject.toml
  python/setup.py
Labels: conda, doc, Python, ci

#555 change cuda 12 -> 11.8, to support tensorflow
  ci/utils/external_dependencies.yaml
Labels: bug, non-breaking, ci

#559 External workflow - remove tensorflow
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
Labels: bug, non-breaking, ci
