Repository rapidsai/cuxfilter, pull requests merged in 2023-11, with the labels that each got.

#551 Consistent datestring format to fix parsing error
  docs/source/user_guide/charts/widgets.rst
Labels: doc, non-breaking

#550 Fix Release Script: Update all references to release versions
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#552 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking
