Repository rapidsai/cuxfilter, pull requests merged in 2024-06, with the labels that each got.

#599 [RELEASE] cuxfilter v24.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_python.sh
  ci/utils/external_dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
  python/cuxfilter/assets/numba_kernels/gpu_histogram.py
  python/cuxfilter/charts/core/core_view_dataframe.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/tests/charts/datashader/test_graph_assets.py
  python/pyproject.toml
Labels: conda, doc, Python, ci

#602 Adopt CI/packaging codeowners
  .github/CODEOWNERS
Labels: improvement, non-breaking

#600 use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/cuxfilter/_version.py
  python/cuxfilter/tests/test_version.py
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python, ci

#601 Remove text builds of documentation
  ci/build_docs.sh
Labels: improvement, non-breaking, ci

#603 remove .gitattributes
  python/.gitattributes
Labels: improvement, non-breaking
