Repository rapidsai/cuxfilter, pull requests merged in 2024-08, with the labels that each got.

#614 [RELEASE] cuxfilter v24.08
  .github/CODEOWNERS
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  VERSION
  build.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  ci/utils/external_dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
  python/.gitattributes
  python/cuxfilter/_version.py
  python/cuxfilter/tests/assets/test_gpu_histogram.py
  python/cuxfilter/tests/test_version.py
  python/pyproject.toml
Labels: conda, doc, Python, ci

#620 Fix tests
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
  dependencies.yaml
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
Labels: bug, non-breaking, Python, ci

#616 Improve update-version.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#617 Update pre-commit hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#621 Fix/external tests
  ci/test_external.sh
  dependencies.yaml
Labels: bug, non-breaking, ci

#619 [BUG] Fix `cudf.pandas` integration issues with `cuxfilter`
  python/cuxfilter/charts/bokeh/plots/bar.py
  python/cuxfilter/charts/core/core_chart.py
  python/cuxfilter/charts/core/non_aggregate/core_graph.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/plots.py
  python/cuxfilter/charts/panel_widgets/plots.py
Labels: improvement, non-breaking, Python

#623 Drop Python 3.9 support
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  pyproject.toml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#624 Update rapidsai/pre-commit-hooks
  .pre-commit-config.yaml
Labels: improvement, non-breaking
