Repository rapidsai/cuxfilter, pull requests merged in 2024-10, with the labels that each got.

#635 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#639 make conda installs in CI stricter
  ci/build_docs.sh
  ci/test_notebooks.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#641 remove unnecessary sccache configuration, reduce verbosity of wheel-building scripts
  .pre-commit-config.yaml
  ci/build_python.sh
  ci/build_wheel.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci
