Repository rapidsai/cuxfilter, pull requests merged in 2024-03, with the labels that each got.

#576 Switch `pytest-xdist` algorithm to `worksteal`
  ci/test_external.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#577 Treat cuxfilter CI artifacts as pure wheels
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#579 Remove hard-coding of RAPIDS version where possible
  ci/build_docs.sh
  ci/release/update-version.sh
  docs/source/conf.py
Labels: 3 - Ready for Review, doc, non-breaking, ci

#580 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#581 add option to enable/disable axes
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/datashader.py
  python/cuxfilter/charts/datashader/plots.py
Labels: improvement, non-breaking, Python

#582 Forward-merge branch-24.04 to branch-24.06
  python/cuxfilter/charts/datashader/custom_extensions/holoviews_datashader.py
  python/cuxfilter/charts/datashader/datashader.py
  python/cuxfilter/charts/datashader/plots.py
Labels: Python
