Repository rapidsai/cuxfilter, pull requests merged in 2024-07, with the labels that each got.

#606 Run NumPy 2 ruff fixes (changing NaN to nan)
  python/cuxfilter/tests/assets/test_gpu_histogram.py
Labels: improvement, non-breaking, Python

#607 Build and test with CUDA 12.5.1
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
Labels: conda, improvement, non-breaking

#608 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#609 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: 3 - Ready for Review, improvement, non-breaking, Python

#611 Branch 24.10 merge 24.08
  dependencies.yaml
  python/pyproject.toml
Labels: conda, doc, non-breaking, Python, ci

#612 Merge branch-24.06 into branch-24.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  CHANGELOG.md
Labels: 3 - Ready for Review, improvement, non-breaking
