Repository rapidsai/cuxfilter, pull requests merged in 2024-02, with the labels that each got.

#566 handle more RAPIDS version formats in update-version.sh
  ci/release/update-version.sh
Labels: bug, 3 - Ready for Review, non-breaking

#569 [Ready for Review] Pandas 2.0 compatibility
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cuxfilter/assets/geojson_mapper.py
  python/cuxfilter/charts/bokeh/plots/bar.py
  python/cuxfilter/charts/bokeh/plots/histogram.py
  python/cuxfilter/charts/core/aggregate/core_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/utils.py
  python/cuxfilter/charts/deckgl/bindings/panel_deck.py
  python/cuxfilter/charts/panel_widgets/plots.py
  python/cuxfilter/dashboard.py
  python/cuxfilter/tests/charts/deckgl/test_deckgl.py
Labels: bug, 3 - Ready for Review, conda, non-breaking, Python

#567 [RELEASE] cuxfilter v24.02
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_external.sh
  ci/utils/external_dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/source/conf.py
  docs/source/user_guide/installation.rst
  python/pyproject.toml
Labels: conda, doc, Python, ci

#571 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#568 Update ops-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#572 Add support for Python 3.11
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  ci/utils/external_dependencies.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  notebooks/README.md
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python, ci

#574 Requre NumPy 1.23+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#575 Generalize GHA selectors for pure Python testing
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
