Repository rapidsai/cuxfilter, pull requests merged in 2024-09, with the labels that each got.

#625 Add support for Python 3.12, drop pyppeteer dependency
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  notebooks/README.md
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#627 Update to flake8 7.1.1.
  .pre-commit-config.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cuxfilter/charts/core/non_aggregate/core_non_aggregate.py
  python/cuxfilter/charts/core/non_aggregate/core_stacked_line.py
  python/cuxfilter/dashboard.py
Labels: conda, improvement, non-breaking, Python

#629 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#626 Recommend `miniforge` for conda installation
  README.md
Labels: doc, non-breaking

#622 Remove NumPy <2 pin, remove panel ceiling
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#631 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#633 Switch `traceback` to `native` in `pytest`
  ci/test_python.sh
  python/cuxfilter/tests/pytest.ini
Labels: improvement, non-breaking, Python, ci
