Repository rapidsai/cuxfilter, pull requests merged in 2025-02, with the labels that each got.

#655 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/test_external.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#657 add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#658 Use shared-workflows branch-25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#659 [RELEASE] cuxfilter v25.02
  .github/copy-pr-bot.yaml
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_wheel.sh
  ci/test_external.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
  python/pyproject.toml
Labels: conda, doc, Python, ci

#664 Consolidate more Conda solves in CI
  ci/build_docs.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#665 require sphinx<8.2.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#666 Use conda-build instead of conda-mambabuild
  ci/build_python.sh
Labels: improvement, non-breaking, ci
