Repository rapidsai/cuxfilter, pull requests merged in 2025-04, with the labels that each got.

#672 fix(deps): pin shapely <2.1.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#674 Forward-merge branch-25.04 into branch-25.06
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#671 [RELEASE] cuxfilter v25.04
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  CHANGELOG.md
  README.md
  VERSION
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
  python/pyproject.toml
Labels: conda, doc, Python, ci

#677 Add ARM conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#667 Moving wheel builds to specified location and uploading build artifacts to Github
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci

#675 fix(docs): pin bokeh upper-bound for all docs environments
  dependencies.yaml
Labels: improvement, non-breaking

#669 Port all conda recipes to `rattler-build`
  ci/build_python.sh
  conda/recipes/cuxfilter/build.sh
  conda/recipes/cuxfilter/meta.yaml
  conda/recipes/cuxfilter/recipe.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python, ci

#679 refactor(rattler): enable strict channel priority for builds
  ci/build_python.sh
Labels: improvement, non-breaking, ci
