Repository rapidsai/cuxfilter, pull requests merged in 2025-01, with the labels that each got.

#648 Add upper bound to prevent usage of numba 0.61.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cuxfilter/meta.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#653 Revert CUDA 12.8 shared workflow branch changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#654 Forward-merge branch-25.02 into branch-25.04
  README.md
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  docs/source/user_guide/installation.rst
Labels: conda, doc, improvement, non-breaking

#652 Migrate to NVKS for amd64 CI runners
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking
