Repository rapidsai/cuxfilter, pull requests merged in 2025-05, with the labels that each got.

#681 Replace cuspatial
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/recipe.yaml
  dependencies.yaml
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Catalog.ipynb
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Guide Notebook.ipynb
  notebooks/RAPIDS Visualization Guide/README.md
  python/cuxfilter/charts/core/non_aggregate/utils.py
  python/cuxfilter/tests/charts/core/non_aggregate/test_utils.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python, ci

#680 Download build artifacts from Github for CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  ci/test_wheel.sh
Labels: 3 - Ready for Review, improvement, non-breaking, ci

#682 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  README.md
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/recipe.yaml
  dependencies.yaml
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python

#684 Forward-merge branch-25.06 into branch-25.08
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  README.md
  ci/build_docs.sh
  ci/build_python.sh
  ci/release/update-version.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cuxfilter/recipe.yaml
  dependencies.yaml
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Catalog.ipynb
  notebooks/RAPIDS Visualization Guide/RAPIDS Viz Guide Notebook.ipynb
  notebooks/RAPIDS Visualization Guide/README.md
  python/cuxfilter/charts/core/non_aggregate/utils.py
  python/cuxfilter/tests/charts/core/non_aggregate/test_utils.py
  python/cuxfilter/tests/charts/core/test_core_graph.py
  python/cuxfilter/tests/charts/core/test_core_non_aggregate.py
  python/pyproject.toml
Labels: conda, improvement, non-breaking, Python, ci

#689 Forward-merge branch-25.06 into branch-25.08
  conda/recipes/cuxfilter/recipe.yaml
  dependencies.yaml
Labels: conda, improvement, non-breaking

#690 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test-external.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking, ci

#692 stop uploading packages to downloads.rapids.ai
  .pre-commit-config.yaml
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, breaking, ci
